name: build our image for latest

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build the image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: mhzawadi/ncpa_builder:latest
          platforms: linux/amd64,linux/arm64,linux/arm/v7
  container-test-job:
      runs-on: ubuntu-24.04-arm
      container:
        image: mhzawadi/ncpa_builder
        volumes:
          - /sys/fs/cgroup:/sys/fs/cgroup:ro
        options: --cpus 1
      steps:
        - name: Check for dockerenv file
          run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
